name: Peon

on:
    push:
        branches:
            - 'main'
        paths:
            - 'peon/**'
            - '.github/workflows/peon.yml'

jobs:
    release:
        runs-on: ubuntu-latest
        steps:
            -   name: Checkout
                uses: actions/checkout@v2

    # TODO: sed
    # TODO: copy sed files
    # TODO: run docker-compose up -d
    # TODO: deployment job